<footer class="footer hero-foot has-background-dark has-text-centered is-flex-align-items-flex-end mt-auto">
  <div class="container">
    <div class="columns">
      <div class="column is-4-tablet">
        <h2>Desenvolvedores</h2>
        <p class="has-text-white">Renan Oliveira</p>
      </div>
      <div class="column is-4-tablet">
        <h5>GitHub</h5>
        <p><a href="https://github.com/renan-oliveira1">github.com/renan-oliveira1</a></p>
      </div>
      <div class="column is-4-tablet">
        <h5>Faculdade</h5>
        <p class="has-text-white">Instituto Federal de São Paulo | IFSP</p>
      </div>
    </div>
  </div>
  <div class="mt-6 has-text-centered">
    <p class="has-text-light">Copyright © 2022</p>
  </div>
</footer>
