<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/login">
      <h4 class="title is-4">Tasks-App</h4>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navigation">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navigation" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item">
        <button class="button is-small has-text-white has-background-dark" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>Logout
        </button>
      </a>
    </div>
  </div>
</nav>