<section class="hero is-fullheight has-background-grey">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <div class="login">
                        <h1 class="title is-1">Tasks-App</h1>
                        <form [formGroup]="registerForm" (submit)="submit()">
                            <div class="field">
                                <div class="control">
                                  <input class="input is-medium is-rounded" type="email" placeholder="Username" formControlName="username" required />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                <input class="input is-medium is-rounded" type="email" placeholder="email@example.com" formControlName="email" required />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                <input class="input is-medium is-rounded" type="password" placeholder="**********" formControlName="password" required />
                                </div>
                            </div>
                            <br />
                            <button class="button is-block is-fullwidth is-medium is-rounded has-text-white" type="submit">
                                Cadastrar
                            </button>
                            <button class="button is-block is-fullwidth is-medium is-rounded has-text-white" (click)="backLoginPage()">
                                Cancelar
                            </button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>