<app-nav></app-nav>
<div class="hero is-fullheight is-transparent">

    <div>
        <div class="container has-text-centered mt-2">
            <h1 class="title">TASK-APP -  Aproveite</h1>
        </div>

        <div class="container mt-5">
            <div class="columns">
                <div class="column">
                    <div class="box has-text-centered" routerLink="/tasks">
                        <h1 class="title">Tasks</h1>
                    </div>
                </div>
    
                <div class="column">
                    <div class="box has-text-centered" routerLink="/boards">
                        <h1 class="title">Boards</h1>
                    </div>
                </div>
    
            </div>
        </div>
        
        
    </div>

    <div class="is-flex-align-items-flex-end mt-auto">
        <app-footer></app-footer>
    </div>


</div>

